$white: #fff;
$black: #000;
$pink:#FDF2FF;



$primaryFontRegular: 'Montserrat Regular';
$primaryFontBold: 'Montserrat Bold';
$primaryFontExtraBold: 'Montserrat ExtraBold';
$primaryFontItalic: 'Montserrat Italic';
$primaryFontMedium: 'Montserrat Medium';


//breakpoints

$sm: 540px;
$md: 720px;
$lg: 960px;
$xl: 1140px;
$xxl: 1200px;

