.footer {
    background-color: $pink;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 62px 0 42px 0;
    @media(max-width: $xl) {
        display: flex;
        flex-direction: column;
    }
    &-cons {
        width: 240px;
        height: 90px;
        & b {
            font-size: 16px;
            line-height: 24px;
        }
        & p {
            font-size: 16px;
            line-height: 24px;
            mix-blend-mode: normal;
            opacity: 0.5;
            text-align: start;
        }

    }
    &-tempor {
        @media(max-width: $xl) {
            margin-top: 78px;
        }
        & b {
            font-size: 16px;
            line-height: 24px;  
        }
        & ul, a {
            font-size: 16px;
            line-height: 24px;
            mix-blend-mode: normal;
            opacity: 0.5;
            color: $black;
            list-style-type: none;
            text-align: start;
            padding-left: 0;
            text-decoration: none;       
        }
    }
    &-magna {
        @media(max-width: $xl) {
            margin-top: 48px;
            margin-bottom: 48px;
        }
        & b {
            font-size: 16px;
            line-height: 24px;
        }
        & ul, a {
            font-size: 16px;
            line-height: 24px;
            mix-blend-mode: normal;
            opacity: 0.5;
            color: $black;
            list-style-type: none;
            text-align: start;
            padding-left: 0;
            text-decoration: none;
        }
    }
    &-omnis{
        display: flex;
        flex-direction: row;
        &-email {
            input {
                padding-left: 16px;
                padding-top: 12px;
                padding-bottom: 12px;
            }
            & img {
                background: #C86DD7;
                border-radius: 50%;
                padding: 16px 16px 16px 21px;
                margin-left: 8px;
                cursor: pointer;
            }
        }
    }
}
.footer{
    & span {
        font-size: 16px;
        line-height: 24px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        mix-blend-mode: normal;
        opacity: 0.5;
    }
}