.home-section {
    background:linear-gradient(224.72deg, #3023AE -1%, #C86DD7 100.5%);
    height: 100vh;
    z-index: 1;
    @media (max-width: $xxl) {
        bottom: -30%;
    }
    @media (max-width: $xl) {
        bottom: -10%;
    }
    &-phone {
        position: absolute;
        z-index: 2;
        top: 0;
        right: 0;
        /*@media (max-width: $xxl) {
            bottom: 20%;
        }*/
        @media (max-width: $xxl) {
            bottom: -30%;
        }
        @media (max-width: $xl) {
            bottom: -30%;
        }
        @media (max-width: $lg) {
            bottom: -15%;
        }
        @media (max-width: $md) {
            bottom: 5%;
        }
        @media (max-width: $sm) {
            bottom: 18%;
        }
        img {
            height: 100%;
        }
    }
    .container{
        .content {
            &__item{
                position: absolute;
                z-index: 4;
                color: $white;
                margin: 10% 70% 20% 4%;
                @media (max-width: $xxl) {
                    bottom: 30px;
                    margin: 0 ;
                    width: 400px;
                }
                @media (max-width: $xl) {
                    bottom: 30px;
                    margin: 0 ;
                    width: 400px;
                }
                @media (max-width: $lg) {
                    bottom: 30px;
                    margin: 0 ;
                    width: 400px;
                }
                @media (max-width: $md) {
                    bottom: 30px;
                    margin: 0 ;
                    width: 400px;
                }
                @media (max-width: $sm) {
                    bottom: 30px;
                    margin: 0 ;
                    width: 400px;
                }
                &__title {
                    b {
                        font-size: 72px;
                        line-height: 72px;
                    }
                }
                &__text {
                    p {
                        font-size: 16px;
                        line-height: 24px;
                        padding: 26px 0 36px;
                    }
                }
                .btn.btn-primary-yellow{
                    text-align: start;
                }
            }
        }
    }
}