.home-section {
    background:linear-gradient(224.72deg, #3023AE -1%, #C86DD7 100.5%);
    height: 100vh;
    z-index: 1;
    &-phone {
        position: absolute;
        z-index: 2;
        top: 0;
        right: 0;
    }
    .container{
        .content {
            &__item{
                position: absolute;
                z-index: 4;
                color: $white;
                margin: 15% 70% 20% 0;
                &__title {
                    padding: 10%;
                    b {
                        font-size: 72px;
                        line-height: 72px;
                    }
                }
                &__text {
                    font-size: 16px;
                    line-height: 24px;
                }
                .btn.btn-primary-yellow{
                    text-align: start;
                }
            }
        }
    }
}