.ipsa {
    &__title{
        & b{
            font-size: 56px;
            line-height: 64px;
            text-align: center;
        }
        & p{
            font-size: 56px;
            line-height: 64px;
            text-align: center;
        }
    }
    &__block{
        display: flex;
        &__left-block{
            flex: 1;
            margin-right: 15px;
            margin-bottom: 48px;
            background: linear-gradient(224.72deg, #3023AE -1%, #C86DD7 100.5%);
            box-shadow: 16px 16px 48px rgba(0, 0, 0, 0.101959);
            border-radius: 3px;
            &__content-1{
                color: white;
                padding: 48px 30px 60px ;
                & img {
                    margin-left: 30%;
                }
               & p{
                font-size: 16px;
                line-height: 24px;
                text-align: center;
                mix-blend-mode: normal;
                opacity: 0.5;                
               }
               & b{
                font-size: 49px;
                line-height: 64px;
                text-align: center;
               }
            }
        }
        &__right-block{
            margin-left: 15px;
            margin-bottom: 48px;
            flex: 1;
            background: #FFFFFF;
            box-shadow: 16px 16px 48px rgba(0, 0, 0, 0.0994678);
            border-radius: 3px;
            &__content-2{
                padding: 48px 30px 60px ;
                & img {
                    margin-left: 30%;
                }
                & p{
                 font-size: 16px;
                 line-height: 24px;
                 mix-blend-mode: normal;
                 opacity: 0.5;
                 text-align: center;                
                }
                & b{
                 font-size: 56px;
                 line-height: 64px;
                 text-align: center;
                }
            }
        }
    }
}
.ipsa {
    &__radius{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 63px;
        cursor: pointer;
        &__left{
            border: 1px solid #C86DD7;
            box-sizing: border-box;
            border-radius: 50%;
            padding: 16px 21px 16px 16px;
            margin-right: 4px;
            
        }
        &__right {
            border: 1px solid #C86DD7;
            box-sizing: border-box;
            border-radius: 50%;
            padding: 16px 16px 16px 21px;
            margin-left: 4px;
        }
    }
}