.reic {
    padding-top: 145px;
    padding-bottom: 110px;
    background-color: $pink;
    display: flex;
    justify-content: space-around;
    @media (max-width: $xxl) {
        flex-direction: column;
        padding-top: 64px;
        padding-bottom: 48px;
        /*align-items: center;*/
        
    }
    &__foto {
        background: linear-gradient(224.72deg, #3023AE -1%, #C86DD7 100.5%);
        border-radius: 3px;
        
        height: 512px;
        flex: 1;
        @media (max-width: $xxl) {
           width: 60%;
        }
        @media (max-width: $xl) {
            width: 60%;
        }
        @media (max-width: 993px) {
            width: 80%;
        }
        @media (max-width: $lg) {
            width: 80%;
        }
        @media (max-width: 767px) {
            width: 95%;
        }
        @media (max-width: $md) {
            width: 380px;
        }
        @media (max-width: $sm) {
            width: 328px;
        }
        img {
            position: relative;
            top: -5%;
            left: 5%;
            @media (max-width: $md) {
                height: 350px;
                width: 400px;
            }
            @media (max-width: $sm) {
                height: 300px;
                width: 337px;
            }
        }
    }
}

.reic{
    &__content {
        margin-left: 180px;
        flex: 1;
        @media (max-width: $xxl) {
            margin-top: 48px;
            margin-left: 0;
        }
        &__name{
            font-family: $primaryFontExtraBold;
            font-size: 56px;
            line-height: 64px;
            @media (max-width: $md) {
                font-size: 40px;
                line-height: 48px;
            }
        }
        &__expl{
            font-family: $primaryFontBold;
            font-size: 16px;
            line-height: 24px;
            padding: 23px 0 6px 0;
            @media (max-width: $lg) {
                margin-bottom: 25px;
            }
        }
        &__paragraf {
            font-family: $primaryFontMedium;
            font-size: 16px;
            line-height: 24px;
            mix-blend-mode: normal;
            opacity: 0.5;
            padding-bottom: 36px;
        }
        &__number{
            display: flex;
            padding-bottom: 40px;
            &__number-42{
                flex-direction: column;
                padding-right: 20%;
                & b{
                    font-size: 40px;
                    line-height: 48px;
                }
                & p {
                    font-family: $primaryFontExtraBold;
                    font-size: 12px;
                    line-height: 24px;
                }
            }
            &__number-73{
                flex-direction: column;
                & b{
                    font-size: 40px;
                    line-height: 48px;
                }
                & p {
                    font-family: $primaryFontExtraBold;
                    font-size: 12px;
                    line-height: 24px;
                }
            }
        }
    }
}  