.verit {
    background-color: $pink;
    @media (max-width: $lg) {
        display: flex;
        flex-direction: column;
    }
    &-title {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-top: 63px;
        @media (max-width: $lg) {
            display: flex;
            flex-direction: column;
            text-align: start;
        }
        &-item {
            font-size: 56px;
            line-height: 64px;
            align-items: center;
            @media (max-width: $lg) {
                font-size: 40px;
                line-height: 48px;
            }
        }
        &-paragraf {
            font-size: 16px;
            line-height: 24px;
            mix-blend-mode: normal;
            opacity: 0.5;
            width: 30%;
            @media (max-width: $lg) {
                padding-top: 24px;
                padding-bottom: 16px;
                width: 100%;
            }
        }
        & button {
            cursor: pointer;
            width: 170px;
            height: 48px;
        }
    }
    &-content {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 64px;
        padding-bottom: 152px;
        cursor: pointer;
        @media (max-width: $lg) {
            flex-direction: column;
            align-items: center;
        }
        &-rose {
            background-image: url(../img/rose.png);
            width: 44%;
            height: 464px;
            @media (max-width: $lg) {
                width: 345px;
                background-image: url(../img/rose-mobile.png);
                transform: scale(1.2, 1);
               }
            &-text1 {
                color: $white;
                padding: 325px 0 0 5%;
                & b {
                    font-size: 24px;
                    line-height: 32px;
                }
                & p {
                    font-size: 12px;
                    line-height: 24px;
                    text-align: start;
                }
            }
        }
        &-glass {
           background-image: url(../img/glass.png); 
           width: 20%;
           height: 464px;
           @media (max-width: $lg) {
            width: 345px;
            background-image: url(../img/glass-mobile.png);
            transform: scale(1.2, 1);
            margin: 5% 0;
           }
           &-text2 {
               color: $white;
               padding: 325px 0 0% 5%;
               @media (max-width: $lg) {
                padding: 325px 0 0% 5%;
               }
               & b {
                font-size: 24px;
                line-height: 32px;
               }
               & p {
                font-size: 12px;
                line-height: 24px;
                text-align: start;
               }
           }
        }
        &-pen {
            background-image: url(../img/pen.png);
            width: 20%;
            height: 464px;
            @media (max-width: $lg) {
                width: 360px;
                background-image: url(../img/pen-mobile.png);
                transform: scale(1.2, 1);
                margin: -8% -5% 0 -9%;
               }
            &-text3 {
                color: $white;
                padding: 325px 0 0% 10%;
                & b {
                    font-size: 24px;
                    line-height: 32px;
                }
                & p {
                    font-size: 12px;
                    line-height: 24px;
                    text-align: start;
                }
            }
        }
    }
}