.content  
    .content__item
        .content__item__title  
            b Sint et <br> molestiae <br>recusandae 
        .content__item__text 
            p Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. 
        button.btn.btn-primary-yellow(type="button") Read more 