<div class="delectus-block">
    <div class="delectus-block__item ">
        <div class="delectus-block__content">
            <img src="../img/boy.svg", alt="boy">
            <b><p>Consequuntur</p></b>
            p Enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit
        </div>
    </div>
    <div class="delectus-block__item ">
        <div class="delectus-block__content">
            <img src="../img/watch.svg", alt="watch">
            <b><p>Voluptatem</p></b>
            p Sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam
        </div>
    </div>
    <div class="delectus-block__item ">
        <div class="delectus-block__content">
            <img src="../img/text.svg", alt="text">
            <b><p>Quisquam</p></b>
            p Quis nostrum exercitationem ullam corporis suscipit laboriosam
        </div>
    </div>
    <div class="delectus-block__item ">
        <div class="delectus-block__content">
            <img src="../img/music.svg", alt="music">
            <b><p>Aliquid</p></b>
            p Quis autem vel eum iure reprehenderit voluptate velit esse quam nihil
        </div>
    </div>
    <div class="delectus-block__item ">
        <div class="delectus-block__content">
            <img src="../img/hand.svg", alt="hand">
            <b><p>Excepteur</p></b>
            p Sint occaecat cupidatat non proident culpa qui officia deserunt mollit anim
        </div>
    </div>
    <div class="delectus-block__item ">
        <div class="delectus-block__content">
            <img src="../img/list.svg", alt="list">
            <b><p>Accusamus</p></b>
            p Odio dignissimos ducimus qui blanditiis praesentium voluptatum
        </div>
    </div>
</div>