<div class="delectus-block">
    <div class="delectus-block__item ">
        <div class="delectus-block__content">
            <img src="../img/boy.svg", alt="boy">
            <b><p>Consequuntur</p></b>
            p Enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit
        </div>
    </div>
</div>