.footer 
    .footer-cons
        b Consectetur
        p Duis aute irure dolor reprehenderit in voluptate velit esse cillum dolore eu <br> fugiat nulla pariatur.
    .footer-tempor 
        b Tempor
        ul
            li <a href="#">Sunt in culpa qui officia</a>
            li <a href="#">Deserunt mollit anim </a>
            li <a href="#">Sed ut perspiciatis</a>
    .footer-magna 
        b Magna 
        ul
            li <a href="#">123 dignissimos ducimus, 42</a>
            li <a href="#">minim@info.com</a>
            li <a href="#">+1 (234) 567 89 01</a>
    .footer-omis 
        b Omnis 
        .footer-omnis-email 
            input(type="text" placeholder="Your email")
            img(src="../img/strelka.svg", alt="strelka")
hr
span  Copyright 2019. All Rights Reserved.
    