.ipsa 
    .ipsa__title 
        b Eaque ipsa
        p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
    .ipsa__block 
        .ipsa__block__left-block 
            .ipsa__block__left-block__content-1 
                img(src="../img/face1.png", alt="face1" class="face1")
                p "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident."
                b Vikentiy Chaykovsky
        .ipsa__block__right-block
            .ipsa__block__right-block__content-2 
                img(src="../img/face2.png", alt="face2") 
                p "Vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident."
                b Richardo Kann
    .ipsa__radius 
        .ipsa__radius__left 
            img(src="../img/left.svg", alt="left")
        .ipsa__radius__right 
            img(src="../img/right.svg", alt="right")