.navbar 
    .navbar-logo
        a(href="#") 
            img(src="./img/RELAP.svg", alt="RELAP")
    .navbar-nav 
        a Home
        a Features 
        a Works
        a About
        a People
        a  News
        a  Contacts
    .navbar-search 
        .navbar-search-lupa 
            img(src="./img/lupa.svg", alt="lupa")
        .navbar-search-3line  
            img(src="./img/3line.svg", alt="3line")