.navbar 
    .navbar-logo
        a(href="#") 
            img(src="./img/RELAP.svg", alt="RELAP")
    <div class="nav">
        <a class="nav-link" href="#">Home</a>
        <a class="nav-link" href="#">Features</a>
        <a class="nav-link" href="#">Works</a>
        <a class="nav-link" href="#">About</a>
        <a class="nav-link" href="#">People</a>
        <a class="nav-link" href="#">News</a>
        <a class="nav-link" href="#">Contacts</a>
    </div>
    .navbar-search 
        img(src="./img/lupa.svg", alt="lupa") 
        img(src="./img/3line.svg", alt="3line")