.nisi 
    .nisi-item 
        b Nisi aliquid
    <div class="card-group">
        <div class="card">
            <img src="../img/people.png" class="card-img-top" alt="people">
            <div class="card-body">
                <h5 class="card-title">June 01/ 2019</h5>
                <p class="card-text">Dolorem eum fugiat <br>quo voluptas</p>
                <p class="card-text"><small class="text-muted">Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae.</small></p>
            </div>
        </div>
        <div class="card">
            <img src="../img/TV.png" class="card-img-top" alt="TV">
            <div class="card-body">
                <h5 class="card-title">June 02/ 2019</h5>
                <p class="card-text">Accusamus et iusto <br>odio dignissimos</p>
                <p class="card-text"><small class="text-muted">Atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate.</small></p>
            </div>
        </div>
        <div class="card">
            <img src="../img/hand.png" class="card-img-top" alt="hand">
            <div class="card-body">
                <h5 class="card-title"> June 03/ 2019</h5>
                <p class="card-text">Ducimus qui blanditiis <br>praesentium</p>
                <p class="card-text"><small class="text-muted">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta.</small></p>
            </div>
        </div>
    </div>