<div class="poris">
    .poris__foto
        img(src="../img/bird.png", alt="")
    .poris__content 
        .poris__content__name 
            b Poris suscipit laboriosam 
        .poris__content__expl  
            b Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
        .poris__content__paragraf 
            p Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
        .poris__content__contact 
            <input type="text" placeholder="Your email">
            button.btn.btn-primary-purple(type="button") Contact us
            .poris__content__contact__some
                p  Quis nostrum exercitationem

</div>