<div class="reic">
    .reic__foto
        img(src="../img/Bitmap.png", alt="")
    .reic__content 
        .reic__content__name 
            b Reiciendis <br>voluptatibus 
        .reic__content__expl  
            b Nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
        .reic__content__paragraf 
            p Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
        .reic__content__number
            .reic__content__number__number-42 
                b 42%
                p Alias consequatur
            .reic__content__number__number-73 
                b 73%
                p Perferendis doloribus
        button.btn.btn-primary-purple(type="button") Features 
</div>