.repud 
    .repud-content 
        .repud-title  
            b Repudiandae
        .repud-paragraf 
            p Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias.
        .repud-item 
            b Aspernatur
        .repud-paragraf 
            p 123 earum rerum hic tenetur a sapiente <br>delectus, 42
        .repud-email 
            b Reiciendis
        .repud-paragraf 
            p +1 (234) 567 89 01 <br>maiores@info.com
        .repud-img 
            img(src="../img/facebook.svg", alt="facebook")
            img(src="../img/twitter.svg", alt="twitter" class="twitter")
            img(src="../img/inst.svg", alt="inst")
    .repud-forms 
        .repud-block 
            .repud-title 
                b Alias consequatur
            .repud-name 
                b Your name
                <br>
                input(type="text" placeholder="NAME")
            .repud-email
                b Your email
                <br>
                input(type="text" placeholder="Email") 
            .repud-message 
                b Your message
                <br>
                input(type="text" placeholder="Message")
            .repud-.btn.btn-primary-purple(type="button") Send 