.totam 
    .header 
        b Totam aperiam
    .title 
        p  Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
    .three-card 
        .first-card
            .item 
                p  Sunt in culpa
                h2 $9
            .paragraf 
                ul
                    li • Qui officia deserunt
                    li • Mollitia animi
                    li • Laborum et dolorum
            button.btn.btn-primary-white(type="button") Buy plan
        .second-card
            .item 
                p  Distinctio
                h2 $18
            .paragraf 
                ul
                    li • Qui officia deserunt
                    li • Mollitia animi
                    li • Laborum et dolorum
            button.btn.btn-primary-yellow(type="button") Buy plan  
        .third-card
            .item 
                p  Soluta nobis
                h2 $97
            .paragraf 
                ul
                    li • Qui officia deserunt
                    li • Mollitia animi
                    li • Laborum et dolorum
            button.btn.btn-primary-white(type="button") Buy plan
                
