.verit 
    .verit-title
        .verit-title-item 
            b Veritatis
        .verit-title-paragraf 
            p Placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
        button.btn.btn-primary-pink(type="button") See all 
    .verit-content 
        .verit-content-rose
            .verit-content-rose-text1  
                b Iste natus error sit <br>voluptatem 
                p Accusantium doloremque
        .verit-content-glass 
            .verit-content-glass-text2
                b Totam rem <br>aperiam
                p Eaque ipsa 
        .verit-content-pen
            .verit-content-pen-text3 
                b Quae ab illo <br>inventore
                p Veritatis